/tree-sitter-module/
/url/
.yas-compiled-snippets.el
*.elc
/tags
**/qt_color_picker/qt_color_picker
.python-environments/
/elpa/
/elpa.*/
/packages/
/projects
org-gcal/
/.lsp-session-v1
/.extension/
/transient/
/.cache/
/network-security.data
/workspace/
/eln-cache/
/elpa-mirror/
/tree-sitter/
/quelpa/
